.HojoyOffer-themes{
    margin-top: 110px;
    font-family:QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.SiteBanners{
    width: 75% !important;
   
    img{
        width: 100%;
        border-radius: 12px;
    }
}

.content-Frame{

    width: 80% !important;
}

.offercontent{
    width: 75% !important;
    margin-top:80px;

    a{
        font-size: 20px !important;
    }
}

.cardoffercontent{
    h4{
        font-weight: 700;
    }
}

.OFFERCARD{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 9.7723px;
    width: 570px;
    min-height: 216px;
}

.upper-region{
    display: flex;
    padding: 16px;
    border-bottom: 1.5px dashed rgb(225, 231, 238);
}

.text-region{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 371px
}
@media only screen and (min-width:"360px") and (max-width:"399px") {
    .offernav{
        display:flex;
        flex-direction:column;
        border: 1px solid gray;
        border-radius: 10px;
    }
    .offersdiv{
        display: flex;
        flex-direction: column;
    }
    .OFFERCARD{
        display: flex;
        flex-direction: column;
        width: 320px;
        align-items: start;
        margin: 5px;
    }
    .upper-region{
     flex-direction: column;
    }
    .text-region{
        margin-left:0px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 260px
    }
    .content-Frame{

        width: 100% !important;
    }
}