.header{
    position:relative;
    height: auto;
}
.headerImage{
    background-image: url(../../asset/images/newbakground.svg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
    background-position:bottom;
    padding-top: 30px;
    width: 100%;
    margin-top:100px;
}
.tab-contents{
    position: static;

}

@media only screen and (min-width:"200px") and (max-width:"400px") {
    .headerImage{
        margin-bottom:475px;
    }
}

@media only screen and (min-width:"401px") and (max-width:"450px") {
    .headerImage{
        margin-bottom:430px;
    }
}

@media only screen and (min-width:"510px") and (max-width:"560px") {
    .headerImage{
        margin-bottom:390px;
    }
}

@media only screen and (min-width:"760px") and (max-width:"950px") {
    .headerImage{
        margin-bottom:180px;
    }
}

@media only screen and (min-width:"980px") and (max-width:"1025px") {
    .headerImage{
        margin-bottom:100px;
    }
}