.hotelsearch {
  min-height: 370px;
  position: static;
  height: auto;

  .headerImage {
    background-image: url(../../asset/images/newbakground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-position: bottom;
    // position: absolute;
    padding-top: 30px;
    width: 100%;
    margin-top: 66px;
  }


  h2 {
    text-align: center;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 30px 0px 20px 0px;
    letter-spacing: 1px;

  }

  .searchcontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    position: relative;
    z-index: 6;
    width: fit-content;
    margin-left: 0px;
    padding-right: 0rem;
    margin-top: -15px;
    height: 275px;
  }

}

.hotelsearchbox {
  width: 260px;
  border: 2.5px solid #dfdfdf;//#dfdfdf
  border-radius: 8px;
  height: 60px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  margin-right: 30px;


  p {
    background-color: #fff;
    margin-top: -12px;
    margin-bottom: 0%;
    width: 38px;
    padding: 0px 8px 0px 8px;
    margin-left: 15px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(107, 103, 103);
    position: absolute;
    text-align: center;

  }

  input {
    width: 100%;
    height: 55px;
    border: none;
    background: rgb(255, 255, 255);
    font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(4, 4, 4);
    border: none;
    outline: none;
    border-radius: 8px;
    outline: 0px;
    font-size: 16px;
    // line-height: 28px;
    padding: 19px 35px;
    font-weight: 700;
  }

  input::placeholder {
    color: rgba(36, 35, 35, 0.474);
    opacity: 1;
  }
}

.hotelsearchbox:hover {
  border: 2.5px solid #6e6d6d;
}

.nights {
  border-radius: 10px;
  // background-color:#fdfdff;
  width: 48px;
  height: 32px;
  margin-top: 40px;
  padding: 3px;
  padding-top: 6px;
  margin-left: -30px;
  margin-right: -18px;
  z-index: 9;
  display: flex;
  // cursor: pointer;
}


.daterange {
  height: 60px;
  width: 170px;
  margin: 0px 18px 0px 0px;
  border-radius: 8px;
  border: 2.5px solid #dfdfdf;//#dfdfdf
  cursor: pointer;
  color: #625f5f;
  font-size: 17px;
  font-weight: 700;

  p {
    background-color: rgb(255, 255, 255);
    padding: 0px 8px 0px 0px;
    margin: -12px 0px 0% 5px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(134, 131, 131);
    position: absolute;
  }
}

.daterange:hover {
  border: 2.5px solid #6e6d6d;
}

.guestoption {
  width: 250px;
  height: 60px;
  border: 2.5px solid #dfdfdf;//#dfdfdf
  border-radius: 8px;
  margin-left: 10px !important;

  p {
    background-color: #fff;
    margin-top: -12px;
    padding: 0px 8px 0px 8px;
    margin-bottom: 0%;
    margin-left: 15px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);
    position: absolute;
    z-index: 3;
  }

  option {
    height: 30px;
    width: 110%;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.679);
    font-size: 16px;
    font-weight: bold;
    height: 40px;
  }
}

.guestoption:hover {
  border: 2.5px solid #6e6d6d;
}

.modiguestoption {
  width: 250px;
  height: 50px;
  border: 2.5px solid #dfdfdf;//#dfdfdf
  border-radius: 8px;
  margin-left: 12px;

  p {
    background-color: #fff;
    margin-top: -14px;
    margin-bottom: 0%;
    // width: 38px;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);
    position: absolute;
    z-index: 3;
  }
}

.roomSearchItem {
  cursor: pointer;
}

.roomSearchText {
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(35, 33, 33);
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.roomageinfo {
  font-family: sans-serif;
  font-size: small;
  font-weight: 700;
  color: rgb(241, 48, 48);
}

.roomoptionText {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.hotelbutton {
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0px;
}

.hotelbtnsearch {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: #3B77DC;
  padding: 16px 45px;
  border-radius: 30px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  outline: 0px;
  border: 0px;
  cursor: pointer;
  letter-spacing: 2px;
}

.hotelbtnsearch:hover {
  background: url('../../asset/images/bg3.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.hotel-inputbox {
  padding: 15px 25px;
  border: none;
  outline: none;
  width: 300px;
  font-size: 16px;
  font-weight: 700;
}

.hotel-calanderlabel {
  font-size: 16px;
  font-weight: 700;
  color: rgb(119, 119, 119);
  font-family: Roboto;
}

.hotel_searchdate {
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(35, 33, 33);
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  min-height: 65px;
  cursor: pointer;
  border: none;
  outline: none;
}

.hotel_calander {
  width: 650px;
  margin-left: 3px;
}

.bookingConfirmedDetails {

  b {
    margin-left: 10px;
  }
}

.bookinfo {
  background-color: rgb(248, 244, 239);
}

.roomOptions {
  position: 'relative';
  z-index: 7;
  top: 25px;
  width: 420px;
  margin-top: -20px;
  margin-left: -80px;
}


.react-autosuggest__suggestions-container {
  position: absolute !important;
  z-index: 3;
  background-color: rgba(226, 222, 222, 0.904) !important;
  max-height: 286px !important;
  overflow-y: scroll !important;
  width: 300px !important;


  ul {
    list-style-type: none !important;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  li {
    height: 30px;
    width: 110%;
    margin-left: -30px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224) !important;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding-top: 5px;
  }

  li:hover {
    background-color: #0e5bce;
    color: white;
  }

  li::selection {
    background-color: #0e5bce;
    color: white;
  }
}

.headingcolor {
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  color: green;
}

.bp_room_select {
  height: 50px !important;
  width: 200px !important;
  border: none !important;
  outline: none !important;
  font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #0404045d;
  margin-top: 3px;
  background-color: #fff;
  padding-left: 10px;
  margin-left: 10px;
  font-weight: 700;
  -webkit-appearance: none;
}

.modibp_room_select {
  height: 40px !important;
  width: 240px !important;
  border: none !important;
  outline: none !important;
  font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #040404;
  padding-left: 20px;
  font-weight: 700;
  -webkit-appearance: none;
}

.roomsList {
  border: 2px solid #dfdfdf;
  background-color: #e0f7e0;
  max-height: 405px !important;
  overflow-y: scroll !important;
}

@media only screen and (min-width:"200px") and (max-width:"300px") {
  .hotelsearch {
    min-height: 430px;
    position: static;

    .headerImage {
      background-image: url(../../asset/images/newbakground.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 360px;
      background-position: bottom;
      padding-top: 30px;
      width: 100%;
      margin-top: 65px;
    }

    h2 {
      text-align: center;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: bold;
      font-size: 24px;
      font-weight: 700;
      // margin: 19px 0;
      margin-bottom: 18px;
      letter-spacing: 1px;

    }

    .content1 {
      margin-top: 0px !important;
    }

    .searchcontainer {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
      padding: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      position: relative;
      z-index: 6;
      width: 99%;
      height: 32rem;
      margin-left: 5px;
      padding-right: 1rem;
      margin-top: -15px;
      // height: 400px;
    }

  }

  .daterange {
    height: 60px;
    width: 216px !important;
    margin: 30px 18px 0px 8px;
    border-radius: 8px;
    // padding:" 0px 20px",
    border: 2.5px solid #dfdfdf;
    cursor: pointer;
    color: #2422228e;
    font-size: 14px;
    padding-bottom: -115px;

    p {
      background-color: white;
      margin-top: -12px;
      margin-bottom: 0%;
      margin-left: 10px !important;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(134, 131, 131);
      position: absolute;
    }
  }

  .hotelsearchbox {
    width: 220px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    height: 60px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    margin-left: -50px;
    // margin-bottom: 20px;


    p {
      background-color: #fff;
      margin-top: -10px;
      margin-bottom: 0%;
      width: 38px;
      margin-left: 22px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(107, 103, 103);
      position: absolute;
      text-align: center;

    }

    input {
      width: 100%;
      height: 55px;
      border: none;
      background: rgb(255, 255, 255);
      font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: rgb(4, 4, 4);
      border: none;
      outline: none;
      border-radius: 8px;
      outline: 0px;
      font-size: 16px;
      // line-height: 28px;
      padding: 19px 35px;
      font-weight: 700;
    }

    input::placeholder {
      color: rgba(36, 35, 35, 0.474);
      opacity: 1;
    }
  }

  .nights_badge {
    display: none;
  }

  .guestoption {
    width: 212px;
    height: 60px;
    border: 2.5px solid #dfdfdf;//#dfdfdf
    border-radius: 8px;
    margin-left: -47px !important;

    p {
      background-color: #ffffff;
      margin-top: -12px;
      margin-bottom: 0%;
      // width: 38px;
      margin-left: 22px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(119, 119, 119);
      position: absolute;
      z-index: 3;
    }

    .roomOptions {
      position: 'relative';
      z-index: 7;
      top: 25px;
      width: 210px;
      margin-top: -20px;
      margin-left: 0px;
    }
  }

  .dateinput {
    margin-left: -70px;
    width: 243px;
    margin-bottom: 20px;
  }

  .hotelbutton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 255px;
    margin-left: -20px;

  }

  .bp_room_select {
    background-color: #ffffff;
    width: 180px !important;
  }

}

@media only screen and (min-width:"300px") and (max-width:"380px") {
  .hotelsearch {
    min-height: 300px;
    position: static;
    height: 290px;
    width: 100%;

    .headerImage {
      background-image: url(../../asset/images/newbakground.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 360px;
      background-position: bottom;
      // position: absolute;
      padding-top: 30px;
      width: 100%;
      margin-top: 65px;
    }

    h2 {
      text-align: center;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: bold;
      font-size: 24px;
      font-weight: 700;
      // margin: 19px 0;
      margin-bottom: 18px;
      letter-spacing: 1px;

    }

    .content1 {
      margin-top: 0px !important;
    }

    .searchcontainer {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
      padding: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      position: relative;
      z-index: 6;
      width: 99%;
      height: 425px;
      margin-left: 5px;
      padding-right: 1rem;
      margin-top: -15px;
    }

  }

  .daterange {
    height: 60px;
    width: 142px;
    margin: 5px 0px 20px 10px;
    border-radius: 8px;
    padding: 0px 10px;
    border: 2.5px solid #dfdfdf; //#dfdfdf
    cursor: pointer;
    color: #2422228e;
    font-size: 14px;
    padding-bottom: -115px;

    p {
      background-color: white;
      margin-top: -12px;
      margin-bottom: 0%;
      padding-right: 8px;
      margin-left: 0px !important;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(134, 131, 131);
      position: absolute;
    }
  }

  .hotelsearchbox {
    width: 294px;
    border: 2.5px solid #dfdfdf; //#dfdfdf
    border-radius: 8px;
    height: 60px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    margin-left: -47px;
    margin-bottom: 20px;


    p {
      background-color: #fff;
      margin-top: -10px;
      margin-bottom: 0%;
      width: 38px;
      margin-left: 22px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(107, 103, 103);
      position: absolute;
      text-align: center;

    }

    input {
      width: 100%;
      height: 55px;
      border: none;
      background: rgb(255, 255, 255);
      font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: rgb(4, 4, 4);
      border: none;
      outline: none;
      border-radius: 8px;
      outline: 0px;
      font-size: 16px;
      // line-height: 28px;
      padding: 19px 35px;
      font-weight: 700;
    }

    input::placeholder {
      color: rgba(36, 35, 35, 0.474);
      opacity: 1;
    }
  }

  .nights_badge {
    display: none;
  }

  .guestoption {
    width: 294px;
    height: 60px;
    border: 2.5px solid #dfdfdf; //#dfdfdf
    border-radius: 8px;
    margin-left: -46px !important;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      // width: 38px;
      margin-left: 22px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(119, 119, 119);
      position: absolute;
      z-index: 3;
    }

    .roomOptions {
      position: 'relative';
      z-index: 7;
      top: 25px;
      width: 310px;
      margin-top: -20px;
      margin-left: 0px;
    }
  }

  .dateinput {
    margin-left: -70px;
    width: 350px;
    margin-bottom: 10px;
  }

  .hotelbutton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 180px;
    margin-left: -18px;
  }

}

@media only screen and (min-width:"381px") and (max-width:"400px") {
  .hotelsearch {
    min-height: 320px;
    position: static;
    height: 300px;
    width: 100%;

    .headerImage {
      background-image: url(../../asset/images/newbakground.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 320px;
      background-position: bottom;
      padding-top: 30px;
      width: 100%;
      margin-top: 65px;
    }

    h2 {
      text-align: center;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: bold;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 18px;
      letter-spacing: 1px;

    }

    .content1 {
      margin-top: 0px !important;
    }

    .searchcontainer {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
      padding: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      position: relative;
      z-index: 6;
      width: 99%;
      margin-left: 5px;
      padding-right: 1rem;
      margin-top: -15px;
      height: 425px;
    }

  }

  .daterange {
    height: 60px;
    width: 160px;
    margin: 5px 0px 20px 6%;
    border-radius: 8px;
    padding: 0px 10px;
    border: 2.5px solid #dfdfdf; //#dfdfdf
    cursor: pointer;
    color: #2422228e;
    font-size: 14px;
    padding-bottom: -115px;

    p {
      background-color: white;
      margin-top: -12px;
      margin-bottom: 0%;
      padding-right: 8px;
      margin-left: 0px !important;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(134, 131, 131);
      position: absolute;
    }
  }

  .hotelsearchbox {
    width: 298px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    height: 60px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    margin-left: -37px;
    margin-bottom: 20px;


    p {
      background-color: #fff;
      margin-top: -10px;
      margin-bottom: 0%;
      width: 38px;
      margin-left: 22px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(107, 103, 103);
      position: absolute;
      text-align: center;

    }

    input {
      width: 100%;
      height: 55px;
      border: none;
      background: rgb(255, 255, 255);
      font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: rgb(4, 4, 4);
      border: none;
      outline: none;
      border-radius: 8px;
      outline: 0px;
      font-size: 16px;
      // line-height: 28px;
      padding: 19px 35px;
      font-weight: 700;
    }

    input::placeholder {
      color: rgba(36, 35, 35, 0.474);
      opacity: 1;
    }
  }

  .nights_badge {
    display: none;
  }

  .guestoption {
    width: 300px;
    height: 60px;
    border: 2.5px solid #dfdfdf; //#dfdfdf
    border-radius: 8px;
    margin-left: -40px !important;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      // width: 38px;
      margin-left: 22px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(119, 119, 119);
      position: absolute;
      z-index: 3;
    }

    .roomOptions {
      position: 'relative';
      z-index: 7;
      top: 25px;
      width: 310px;
      margin-top: -20px;
      margin-left: 0px;
    }
  }

  .dateinput {
    margin-left: -70px;
    width: 350px;
    margin-bottom: 10px;
  }

  .hotelbutton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 180px;
    margin-left: -22px;
  }
}

@media only screen and (min-Width:"410px") and (max-width:"450px") {
  .hotelsearchbox {
    width: 345px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    height: 60px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    margin-left: 0px;


    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      width: 38px;
      margin-left: 10px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(107, 103, 103);
      position: absolute;
      text-align: center;

    }

    input {
      width: 100%;
      height: 55px;
      border: none;
      background: rgb(255, 255, 255);
      font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: rgb(4, 4, 4);
      border: none;
      outline: none;
      border-radius: 8px;
      outline: 0px;
      font-size: 16px;
      // line-height: 28px;
      padding: 19px 35px;
      font-weight: 700;
    }

    input::placeholder {
      color: rgba(36, 35, 35, 0.474);
      opacity: 1;
    }
  }

  .content {
    padding-left: 0px !important;
    flex-wrap: wrap;
    margin-top: 10px !important;
    margin-left: 0px;
  }

  .nights_badge {
    display: none;
  }

  .daterange {
    height: 60px;
    width: 156px !important;
    margin: 20px 33px 20px 0px;
    border-radius: 8px;
    // padding:" 0px 20px",
    border: 2.5px solid #dfdfdf;
    cursor: pointer;
    color: #2422228e;
    font-size: 14px;
    // padding-bottom: -115px;

    p {
      background-color: white;
      padding: 0px 8px 0px 0px;
      margin-top: -12px;
      margin-bottom: 0%;
      margin-left: 0px !important;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(134, 131, 131);
      position: absolute;
    }
  }

  .hotelsearch {
    min-height: 370px;
    position: static;
    height: auto;

    .headerImage {
      background-image: url(../../asset/images/newbakground.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
      background-position: bottom;
      // position: absolute;
      padding-top: 30px;
      width: 100%;
      margin-top: 63px;
    }

    h2 {
      text-align: center;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: bold;
      font-size: 24px;
      font-weight: 700;
      // margin: 19px 0;
      margin-bottom: 18px;
      letter-spacing: 1px;

    }

    .searchcontainer {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
      padding: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      position: relative;
      z-index: 6;
      width: 100%;
      margin-left: 0px;
      padding-right: 0rem;
      margin-top: -15px;
      height: 400px;

    }

  }

  .hotelbutton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 180px;
    margin-left: -20px;
  }

  .hotelcontent {
    margin-left: 0px !important;
  }

  .guestoption {
    width: 345px;
    height: 60px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    margin-left: -1px !important;
    margin-top: 10px;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      // width: 38px;
      margin-left: 10px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(119, 119, 119);
      position: absolute;
      z-index: 3;
    }

    option {
      height: 30px;
      width: 110%;
      background-color: rgb(255, 255, 255);
      color: rgba(0, 0, 0, 0.679);
      font-size: 16px;
      font-weight: bold;
      height: 40px;
    }

    .roomOptions {
      position: 'relative';
      z-index: 7;
      top: 25px;
      width: 342px;
      margin-top: -20px;
      margin-left: 0px;
    }
  }
}

@media only screen and (min-width:"510px") and (max-width:"560px") {
  .daterange {
    height: 65px;
    width: 205px;
    padding: 0px;
    margin: 30px 20px 30px 0px;
    border-radius: 8px;
    border: 2.5px solid #dfdfdf;
    cursor: pointer;
    color: #242222;
    font-size: 17px;
    padding-bottom: -115px;

    p {
      background-color: rgb(255, 255, 255);
      padding: 0px 8px 0px 0px;
      margin-top: -12px;
      margin-bottom: 0%;
      margin-left: 10px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(134, 131, 131);
      position: absolute;
    }
  }

  .content1 {
    flex-wrap: wrap;
    margin-top: 5px !important;
    padding: 10px !important;
    align-items: center;
    justify-content: center;
  }

  .nights_badge {
    display: none;
  }

  .hotelsearch {
    min-height: 470px;
    position: static;
    height: auto;

    .headerImage {
      background-image: url(../../asset/images/newbakground.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
      background-position: bottom;
      // position: absolute;
      padding-top: 30px;
      width: 100%;
      margin-top: 85px;
    }


    h2 {
      text-align: center;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: bold;
      font-size: 24px;
      font-weight: 700;
      // margin: 19px 0;
      margin-bottom: 18px;
      letter-spacing: 1px;

    }

    .searchcontainer {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
      padding: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      position: relative;
      z-index: 6;
      width: 100%;
      margin-left: 0px;
      padding-right: 1rem;
      margin-top: -15px;
      height: 400px;

    }

    .headingcolor {
      text-align: center;
    }

  }

  .hotelbutton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 190px;

  }

  .guestoption {
    width: 418px;
    height: 60px;
    border: 2.5px solid #dfdfdf; //#dfdfdf
    border-radius: 8px;
    margin: 0px 30px 30px 13px !important;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      // width: 38px;
      margin-left: 10px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(119, 119, 119);
      position: absolute;
      z-index: 3;
    }

    option {
      height: 30px;
      width: 110%;
      background-color: rgb(255, 255, 255);
      color: rgba(0, 0, 0, 0.679);
      font-size: 16px;
      font-weight: bold;
      height: 40px;
    }
  }

  .hotelsearchbox {
    width: 421px;
    border: 2.5px solid #dfdfdf;
    margin: 0px 0px 0px -18px;
    border-radius: 8px;
    height: 60px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;


    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      width: 38px;
      margin-left: 10px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(107, 103, 103);
      position: absolute;
      text-align: center;

    }

    input {
      width: 100%;
      height: 55px;
      border: none;
      background: rgb(255, 255, 255);
      font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: rgb(4, 4, 4);
      border: none;
      outline: none;
      border-radius: 8px;
      outline: 0px;
      font-size: 16px;
      // line-height: 28px;
      padding: 19px 35px;
      font-weight: 700;
    }

    input::placeholder {
      color: rgba(36, 35, 35, 0.474);
      opacity: 1;
    }
  }
  .roomOptions {
    position: 'relative';
    z-index: 7;
    top: 25px;
    width: 350px;
    margin-top: -20px;
    margin-left: 0px;
  }
}

@media only screen and (min-width:"760px") and (max-width:"820px") {
  .daterange {
    height: 70px;
    width: 234px;
    margin: 50px 52px 50px -22px;
    border-radius: 8px;
    border: 2.5px solid #dfdfdf;
    cursor: pointer;
    color: #242222;
    font-size: 17px;
    padding-bottom: -115px;

    p {
      background-color: rgb(255, 255, 255);
      margin-top: -12px;
      margin-bottom: 0%;
      margin-left: 5px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(134, 131, 131);
      position: absolute;
    }
  }

  .content1 {
    flex-wrap: wrap;
    margin-top: 5px !important;
    padding: 10px !important;
    align-items: center;
    justify-content: center;
  }

  .dateinput {
    margin-left: 35px;
  }

  .nights_badge {
    display: none;
  }

  .hotelsearch {
    min-height: 600px;
    position: static;
    height: auto;

    .headerImage {
      background-image: url(../../asset/images/newbakground.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
      background-position: bottom;
      // position: absolute;
      padding-top: 30px;
      width: 100%;
      margin-top: 85px;
    }


    h2 {
      text-align: center;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: bold;
      font-size: 24px;
      font-weight: 700;
      // margin: 19px 0;
      margin-bottom: 18px;
      letter-spacing: 1px;

    }

    .searchcontainer {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
      padding: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      position: relative;
      z-index: 6;
      width: 100%;
      margin-left: 0px;
      padding-right: 1rem;
      margin-top: -15px;
      height: 500px;

    }

    .headingcolor {
      text-align: center;
    }
  }

  .hotelbutton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 270px;

  }

  .guestoption {
    width: 498px;
    height: 70px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    margin-left: 15px !important;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      // width: 38px;
      margin-left: 15px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(119, 119, 119);
      position: absolute;
      z-index: 3;
    }

    option {
      height: 30px;
      width: 110%;
      background-color: rgb(255, 255, 255);
      color: rgba(0, 0, 0, 0.679);
      font-size: 16px;
      font-weight: bold;
      height: 40px;
    }
  }

  .hotelsearchbox {
    width: 498px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    height: 70px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    margin-left: -13px;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      width: 38px;
      margin-left: 15px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(107, 103, 103);
      position: absolute;
      text-align: center;

    }

    input {
      width: 100%;
      height: 55px;
      border: none;
      background: rgb(255, 255, 255);
      font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: rgb(4, 4, 4);
      border: none;
      outline: none;
      border-radius: 8px;
      outline: 0px;
      font-size: 16px;
      // line-height: 28px;
      padding: 19px 35px;
      font-weight: 700;
    }

    input::placeholder {
      color: rgba(36, 35, 35, 0.474);
      opacity: 1;
    }
  }
  .roomOptions {
    position: 'relative';
    z-index: 7;
    top: 25px;
    width: 420px;
    margin-top: -10px;
    margin-left: 0px;
  }
}

@media only screen and (min-width:"821px") and (max-width:"950px") {

  .hotelsearch {
    min-height: 370px;
    position: static;
    height: auto;
    width: 100%;

    .headerImage {
      background-image: url(../../asset/images/newbakground.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      background-position: bottom;
      padding-top: 30px;
      width: 100%;
      margin-top: 63px;
    }


    h2 {
      text-align: center;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: bold;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 18px;
      letter-spacing: 1px;

    }

    .searchcontainer {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
      padding: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      position: relative;
      z-index: 6;
      width: auto;
      margin-left: 0px;
      padding-right: 0rem;
      margin-top: -15px;
      height: 275px;
    }

  }

  .hotelcontent {
    padding: 0px !important;
  }

  .hotelsearchbox {
    width: 190px;
    border: 2.5px solid #dfdfdf; //#dfdfdf
    border-radius: 8px;
    height: 60px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    margin: 0px 10px 0px 0px;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      width: 38px;
      padding: 0px 8px 0px 8px;
      margin-left: 15px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(107, 103, 103);
      position: absolute;
      text-align: center;

    }

    input {
      width: 100%;
      height: 55px;
      border: none;
      background: rgb(255, 255, 255);
      font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: rgb(4, 4, 4);
      border: none;
      outline: none;
      border-radius: 8px;
      outline: 0px;
      font-size: 16px;
      padding: 19px 15px;
      font-weight: 700;
    }

    input::placeholder {
      color: rgba(36, 35, 35, 0.474);
      opacity: 1;
    }
  }

  .hotelsearchbox:hover {
    border: 2.5px solid #6e6d6d;
  }

  .content {
    padding: 0px 0px 0px 0px !important;
  }

    .daterange {
      height: 60px;
      width: 150px;
      margin: 0px 0px 0px 20px;
      border-radius: 8px;
      border: 2.5px solid #dfdfdf;
      cursor: pointer;
      color: #242222;
      font-size: 13px;
      padding: 0px;

      p {
        background-color: rgb(255, 255, 255);
        margin-top: -12px;
        margin-bottom: 0%;
        margin-left: 5px;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        display: inline-flex;
        font-weight: 700;
        color: rgb(134, 131, 131);
        position: absolute;
      }
    }
  

  .nights {
    border-radius: 10px;
    width: 48px;
    height: 32px;
    padding: 3px;
    margin-top: 20px;
    margin-left: 125px;
    z-index: 9;
    display: flex;
    position: absolute;
  }
  .guestoption {
    width: 190px;
    height: 60px;
    border: 2.5px solid #dfdfdf;//#dfdfdf
    border-radius: 8px;
    margin-left: 30px !important;

    p {
      background-color: #fff;
      margin-top: -12px;
      margin-bottom: 0%;
      margin-left: 15px;
      font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 14px;
      display: inline-flex;
      font-weight: 700;
      color: rgb(119, 119, 119);
      position: absolute;
      z-index: 3;
    }
  }
  .bp_room_select {
    background-color: #ffffff;
    width: 100px !important;
  }
  .roomOptions {
    position: 'relative';
    z-index: 7;
    top: 25px;
    width: 250px;
    margin-top: -10px;
    margin-left: 0px;
  }
}

@media only screen and (min-width:"980px") and (max-width:"1030px") {
  .roomOptions {
    position: 'relative';
    z-index: 7;
    top: 25px;
    width: 250px;
    margin-top: -20px;
    margin-left: 0px;
  }
}